@font-face
  font-family 'JetBrains Mono'
  src url(https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/fonts/webfonts/JetBrainsMono-Regular.woff2) format('woff2')
  font-display swap

@font-face
  font-family 'Source Sans Pro'
  src url(https://cdn.jsdelivr.net/npm/@fontsource/source-sans-pro@4.5.10/files/source-sans-pro-latin-400-normal.woff) format('woff')
  font-display swap

@font-face
  font-family 'Source Serif Pro'
  src url(https://cdn.jsdelivr.net/npm/@fontsource/source-serif-pro@4.5.9/files/source-serif-pro-latin-400-normal.woff) format('woff')
  font-display swap

@font-face
  font-family 'DejaVu Serif'
  src url(https://cdn.jsdelivr.net/npm/@fontsource/dejavu-serif@4.5.4/files/dejavu-serif-latin-400-normal.woff) format('woff')
  font-display swap

@font-face
  font-family 'DejaVu Sans'
  src url(https://cdn.jsdelivr.net/npm/@fontsource/dejavu-sans@4.5.4/files/dejavu-sans-latin-400-normal.woff) format('woff')
  font-display swap
