@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/fonts/webfonts/JetBrainsMono-Regular.woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('https://cdn.jsdelivr.net/npm/@fontsource/source-sans-pro@4.5.10/files/source-sans-pro-latin-400-normal.woff');
    font-display: swap;
}

