.float-left {
    float: left;
}

.float-right {
    float: right;
}

.cursor-pointer {
    cursor: pointer;
}

/* 屏幕宽度大于1000时 */
@media (min-width: 1000px) {
    .margin-bottom {
        margin-bottom: 10px;
    }
}

/* 屏幕宽度小于1000时 */
@media (max-width: 1000px) {
    .margin-bottom {
        margin-bottom: 7px;
    }
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-60 {
    width: 60%;
}

.width-100 {
    width: 100%;
}
