@css {
  html {
    font-family: "DejaVu Sans", Emoji, sans-serif;
  }
  body {
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(80, 80, 80, 0.8);
  }
}

body
  background url("src/assets/pc.jpg")
  background-size cover
  background-position center
  background-attachment fixed

.v-application
  background unset
