input
  outline none

inputfocus
  outline none

textarea
  outline none

button
  border-radius 2px
  border0
  background-color blue
  transition-duration 0.4s

buttonhover
  background-color blue

buttonfocus
  outline none
  background-color blue

textareafocus
  outline none

p
  display block
  margin-block-start 0.8em
  margin-block-end 0.4em
  margin-inline-start 0
  margin-inline-end 0
