@css {
  .markdown-zone {
    color: rgb(var(--v-theme-on-surface));
    font-family: 'DejaVu Sans', Emoji, sans-serif;
  }
  .markdown-zone code,
  .markdown-zone table th,
  .markdown-zone table td {
    color: rgb(var(--v-theme-on-surface));
  }
  .markdown-zone pre,
  .markdown-zone kbd,
  .markdown-zone code {
    font-family: 'JetBrains Mono', monospace;
  }
  .markdown-zone a {
    color: rgb(var(--v-theme-primary));
  }
}

.markdown-zone
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  line-height 1.5
  font-size 1rem
  letter-spacing 0.5px
  word-wrap break-word
  word-break break-word

