.cursor-pointer
  cursor pointer

.cursor-default
  cursor default

.overflow-hidden
  overflow hidden

.transition-standard
  transition all 0.2s ease

.transition-inherit
  transition inherit
