.float-left
  float left

.float-right
  float right

.cursor-pointer
  cursor pointer

.cursor-default
  cursor default

.overflow-hidden
  overflow hidden

.flex
  display flex

.transition-standard
  transition all 0.2s ease

.transition-inherit
  transition inherit

/* 屏幕宽度大于1000时 */
@media (min-width 1000px)
  .margin-bottom
    margin-bottom 10px

/* 屏幕宽度小于1000时 */
@media (max-width 1000px)
  .margin-bottom
    margin-bottom 7px
