@font-face
  font-family 'JetBrains Mono'
  src url(https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/fonts/webfonts/JetBrainsMono-Regular.woff2) format('woff2')
  font-display swap

@font-face
  font-family 'DejaVu Sans'
  src url(https://cdn.jsdelivr.net/npm/@fontsource/dejavu-sans@4.5.4/files/dejavu-sans-latin-400-normal.woff) format('woff')
  font-display swap
