@css {
  html {
    font-family: "DejaVu Sans", sans-serif, Emoji;
  }
}

body
  overflow hidden //防止文章卡进入时导致溢出
  background-size cover
  background-position center
  background-attachment fixed

.v-application
  background unset !important
