.v-theme--fieldLight .code-zone code[class*="language-"],
.v-theme--fieldLight .code-zone pre[class*="language-"] {
    /*background: hsl(230, 1%, 98%);*/
    color: hsl(230, 8%, 24%);
    font-family: 'JetBrains Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Selection */
.v-theme--fieldLight .code-zone code[class*="language-"]::-moz-selection,
.v-theme--fieldLight .code-zone code[class*="language-"] *::-moz-selection,
.v-theme--fieldLight .code-zone pre[class*="language-"] *::-moz-selection {
    /*background: hsl(230, 1%, 90%);*/
    color: inherit;
}

.v-theme--fieldLight .code-zone code[class*="language-"]::selection,
.v-theme--fieldLight .code-zone code[class*="language-"] *::selection,
.v-theme--fieldLight .code-zone pre[class*="language-"] *::selection {
    /*background: hsl(230, 1%, 90%);*/
    color: inherit;
}

/* Code blocks */
.v-theme--fieldLight .code-zone pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

/* Inline code */
.v-theme--fieldLight .code-zone :not(pre) > code[class*="language-"] {
    padding: 0.2em 0.3em;
    border-radius: 0.3em;
    white-space: normal;
}

.v-theme--fieldLight .code-zone .token.comment,
.v-theme--fieldLight .code-zone .token.prolog,
.v-theme--fieldLight .code-zone .token.cdata {
    color: hsl(230, 4%, 64%);
}

.v-theme--fieldLight .code-zone .token.doctype,
.v-theme--fieldLight .code-zone .token.punctuation,
.v-theme--fieldLight .code-zone .token.entity {
    color: hsl(230, 8%, 24%);
}

.v-theme--fieldLight .code-zone .token.attr-name,
.v-theme--fieldLight .code-zone .token.class-name,
.v-theme--fieldLight .code-zone .token.boolean,
.v-theme--fieldLight .code-zone .token.constant,
.v-theme--fieldLight .code-zone .token.number,
.v-theme--fieldLight .code-zone .token.atrule {
    color: hsl(35, 99%, 36%);
}

.v-theme--fieldLight .code-zone .token.keyword {
    color: hsl(301, 63%, 40%);
}

.v-theme--fieldLight .code-zone .token.property,
.v-theme--fieldLight .code-zone .token.tag,
.v-theme--fieldLight .code-zone .token.symbol,
.v-theme--fieldLight .code-zone .token.deleted,
.v-theme--fieldLight .code-zone .token.important {
    color: hsl(5, 74%, 59%);
}

.v-theme--fieldLight .code-zone .token.selector,
.v-theme--fieldLight .code-zone .token.string,
.v-theme--fieldLight .code-zone .token.char,
.v-theme--fieldLight .code-zone .token.builtin,
.v-theme--fieldLight .code-zone .token.inserted,
.v-theme--fieldLight .code-zone .token.regex,
.v-theme--fieldLight .code-zone .token.attr-value,
.v-theme--fieldLight .code-zone .token.attr-value > .token.punctuation {
    color: hsl(119, 34%, 47%);
}

.v-theme--fieldLight .code-zone .token.variable,
.v-theme--fieldLight .code-zone .token.operator,
.v-theme--fieldLight .code-zone .token.function {
    color: hsl(221, 87%, 60%);
}

.v-theme--fieldLight .code-zone .token.url {
    color: hsl(198, 99%, 37%);
}

/* HTML overrides */
.v-theme--fieldLight .code-zone .token.attr-value > .token.punctuation.attr-equals,
.v-theme--fieldLight .code-zone .token.special-attr > .token.attr-value > .token.value.css {
    color: hsl(230, 8%, 24%);
}

/* CSS overrides */
.v-theme--fieldLight .code-zone .language-css .token.selector {
    color: hsl(5, 74%, 59%);
}

.v-theme--fieldLight .code-zone .language-css .token.property {
    color: hsl(230, 8%, 24%);
}

.v-theme--fieldLight .code-zone .language-css .token.function,
.v-theme--fieldLight .code-zone .language-css .token.url > .token.function {
    color: hsl(198, 99%, 37%);
}

.v-theme--fieldLight .code-zone .language-css .token.url > .token.string.url {
    color: hsl(119, 34%, 47%);
}

.v-theme--fieldLight .code-zone .language-css .token.important,
.v-theme--fieldLight .code-zone .language-css .token.atrule .token.rule {
    color: hsl(301, 63%, 40%);
}

/* JS overrides */
.v-theme--fieldLight .code-zone .language-javascript .token.operator {
    color: hsl(301, 63%, 40%);
}

.v-theme--fieldLight .code-zone .language-javascript .token.template-string > .token.interpolation > .token.interpolation-punctuation.punctuation {
    color: hsl(344, 84%, 43%);
}

/* JSON overrides */
.v-theme--fieldLight .code-zone .language-json .token.operator {
    color: hsl(230, 8%, 24%);
}

.v-theme--fieldLight .code-zone .language-json .token.null.keyword {
    color: hsl(35, 99%, 36%);
}

/* MD overrides */
.v-theme--fieldLight .code-zone .language-markdown .token.url,
.v-theme--fieldLight .code-zone .language-markdown .token.url > .token.operator,
.v-theme--fieldLight .code-zone .language-markdown .token.url-reference.url > .token.string {
    color: hsl(230, 8%, 24%);
}

.v-theme--fieldLight .code-zone .language-markdown .token.url > .token.content {
    color: hsl(221, 87%, 60%);
}

.v-theme--fieldLight .code-zone .language-markdown .token.url > .token.url,
.v-theme--fieldLight .code-zone .language-markdown .token.url-reference.url {
    color: hsl(198, 99%, 37%);
}

.v-theme--fieldLight .code-zone .language-markdown .token.blockquote.punctuation,
.v-theme--fieldLight .code-zone .language-markdown .token.hr.punctuation {
    color: hsl(230, 4%, 64%);
    font-style: italic;
}

.v-theme--fieldLight .code-zone .language-markdown .token.code-snippet {
    color: hsl(119, 34%, 47%);
}

.v-theme--fieldLight .code-zone .language-markdown .token.bold .token.content {
    color: hsl(35, 99%, 36%);
}

.v-theme--fieldLight .code-zone .language-markdown .token.italic .token.content {
    color: hsl(301, 63%, 40%);
}

.v-theme--fieldLight .code-zone .language-markdown .token.strike .token.content,
.v-theme--fieldLight .code-zone .language-markdown .token.strike .token.punctuation,
.v-theme--fieldLight .code-zone .language-markdown .token.list.punctuation,
.v-theme--fieldLight .code-zone .language-markdown .token.title.important > .token.punctuation {
    color: hsl(5, 74%, 59%);
}

/* General */
.v-theme--fieldLight .code-zone .token.bold {
    font-weight: bold;
}

.v-theme--fieldLight .code-zone .token.comment,
.v-theme--fieldLight .code-zone .token.italic {
    font-style: italic;
}

.v-theme--fieldLight .code-zone .token.entity {
    cursor: help;
}

.v-theme--fieldLight .code-zone .token.namespace {
    opacity: 0.8;
}

/* Plugin overrides */
/* Selectors should have higher specificity than those in the plugins' default stylesheets */

/* Show Invisibles plugin overrides */
.v-theme--fieldLight .code-zone .token.token.tab:not(:empty):before,
.v-theme--fieldLight .code-zone .token.token.cr:before,
.v-theme--fieldLight .code-zone .token.token.lf:before,
.v-theme--fieldLight .code-zone .token.token.space:before {
    color: hsla(230, 8%, 24%, 0.2);
}

/* Toolbar plugin overrides */
/* Space out all buttons and move them away from the right edge of the code block */
.v-theme--fieldLight .code-zone div.code-toolbar > .toolbar.toolbar > .toolbar-item {
    margin-right: 0.4em;
}

/* Styling the buttons */
.v-theme--fieldLight .code-zone div.code-toolbar > .toolbar.toolbar > .toolbar-item > button,
.v-theme--fieldLight .code-zone div.code-toolbar > .toolbar.toolbar > .toolbar-item > a,
.v-theme--fieldLight .code-zone div.code-toolbar > .toolbar.toolbar > .toolbar-item > span {
    background: hsl(230, 1%, 90%);
    color: hsl(230, 6%, 44%);
    padding: 0.1em 0.4em;
    border-radius: 0.3em;
}

.v-theme--fieldLight .code-zone div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:hover,
.v-theme--fieldLight .code-zone div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:focus,
.v-theme--fieldLight .code-zone div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:hover,
.v-theme--fieldLight .code-zone div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:focus,
.v-theme--fieldLight .code-zone div.code-toolbar > .toolbar.toolbar > .toolbar-item > span:hover,
.v-theme--fieldLight .code-zone div.code-toolbar > .toolbar.toolbar > .toolbar-item > span:focus {
    background: hsl(230, 1%, 78%); /* custom: darken(--syntax-bg, 20%) */
    color: hsl(230, 8%, 24%);
}

/* Line Highlight plugin overrides */
/* The highlighted line itself */
.v-theme--fieldLight .code-zone .line-highlight.line-highlight {
    background: hsla(230, 8%, 24%, 0.05);
}

/* Default line numbers in Line Highlight plugin */
.v-theme--fieldLight .code-zone .line-highlight.line-highlight:before,
.v-theme--fieldLight .code-zone .line-highlight.line-highlight[data-end]:after {
    background: hsl(230, 1%, 90%);
    color: hsl(230, 8%, 24%);
    padding: 0.1em 0.6em;
    border-radius: 0.3em;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2); /* same as Toolbar plugin default */
}

/* Hovering over a linkable line number (in the gutter area) */
/* Requires Line Numbers plugin as well */
.v-theme--fieldLight .code-zone pre[id].linkable-line-numbers.linkable-line-numbers span.line-numbers-rows > span:hover:before {
    background-color: hsla(230, 8%, 24%, 0.05);
}

/* Line Numbers and Command Line plugins overrides */
/* Line separating gutter from coding area */
.v-theme--fieldLight .code-zone .line-numbers.line-numbers .line-numbers-rows,
.v-theme--fieldLight .code-zone .command-line .command-line-prompt {
    border-right-color: hsla(230, 8%, 24%, 0.2);
}

/* Stuff in the gutter */
.v-theme--fieldLight .code-zone .line-numbers .line-numbers-rows > span:before,
.v-theme--fieldLight .code-zone .command-line .command-line-prompt > span:before {
    color: hsl(230, 1%, 62%);
}

/* Match Braces plugin overrides */
/* Note: Outline colour is inherited from the braces */
.v-theme--fieldLight .code-zone .rainbow-braces .token.token.punctuation.brace-level-1,
.v-theme--fieldLight .code-zone .rainbow-braces .token.token.punctuation.brace-level-5,
.v-theme--fieldLight .code-zone .rainbow-braces .token.token.punctuation.brace-level-9 {
    color: hsl(5, 74%, 59%);
}

.v-theme--fieldLight .code-zone .rainbow-braces .token.token.punctuation.brace-level-2,
.v-theme--fieldLight .code-zone .rainbow-braces .token.token.punctuation.brace-level-6,
.v-theme--fieldLight .code-zone .rainbow-braces .token.token.punctuation.brace-level-10 {
    color: hsl(119, 34%, 47%);
}

.v-theme--fieldLight .code-zone .rainbow-braces .token.token.punctuation.brace-level-3,
.v-theme--fieldLight .code-zone .rainbow-braces .token.token.punctuation.brace-level-7,
.v-theme--fieldLight .code-zone .rainbow-braces .token.token.punctuation.brace-level-11 {
    color: hsl(221, 87%, 60%);
}

.v-theme--fieldLight .code-zone .rainbow-braces .token.token.punctuation.brace-level-4,
.v-theme--fieldLight .code-zone .rainbow-braces .token.token.punctuation.brace-level-8,
.v-theme--fieldLight .code-zone .rainbow-braces .token.token.punctuation.brace-level-12 {
    color: hsl(301, 63%, 40%);
}

/* Diff Highlight plugin overrides */
/* Taken from https://github.com/atom/github/blob/master/styles/variables.less */
.v-theme--fieldLight .code-zone pre.diff-highlight > code .token.token.deleted:not(.prefix),
.v-theme--fieldLight .code-zone pre > code.diff-highlight .token.token.deleted:not(.prefix) {
    background-color: hsla(353, 100%, 66%, 0.15);
}

.v-theme--fieldLight .code-zone pre.diff-highlight > code .token.token.deleted:not(.prefix)::-moz-selection,
.v-theme--fieldLight .code-zone pre.diff-highlight > code .token.token.deleted:not(.prefix) *::-moz-selection,
.v-theme--fieldLight .code-zone pre > code.diff-highlight .token.token.deleted:not(.prefix)::-moz-selection,
.v-theme--fieldLight .code-zone pre > code.diff-highlight .token.token.deleted:not(.prefix) *::-moz-selection {
    background-color: hsla(353, 95%, 66%, 0.25);
}

.v-theme--fieldLight .code-zone pre.diff-highlight > code .token.token.deleted:not(.prefix)::selection,
.v-theme--fieldLight .code-zone pre.diff-highlight > code .token.token.deleted:not(.prefix) *::selection,
.v-theme--fieldLight .code-zone pre > code.diff-highlight .token.token.deleted:not(.prefix)::selection,
.v-theme--fieldLight .code-zone pre > code.diff-highlight .token.token.deleted:not(.prefix) *::selection {
    background-color: hsla(353, 95%, 66%, 0.25);
}

.v-theme--fieldLight .code-zone pre.diff-highlight > code .token.token.inserted:not(.prefix),
.v-theme--fieldLight .code-zone pre > code.diff-highlight .token.token.inserted:not(.prefix) {
    background-color: hsla(137, 100%, 55%, 0.15);
}

.v-theme--fieldLight .code-zone pre.diff-highlight > code .token.token.inserted:not(.prefix)::-moz-selection,
.v-theme--fieldLight .code-zone pre.diff-highlight > code .token.token.inserted:not(.prefix) *::-moz-selection,
.v-theme--fieldLight .code-zone pre > code.diff-highlight .token.token.inserted:not(.prefix)::-moz-selection,
.v-theme--fieldLight .code-zone pre > code.diff-highlight .token.token.inserted:not(.prefix) *::-moz-selection {
    background-color: hsla(135, 73%, 55%, 0.25);
}

.v-theme--fieldLight .code-zone pre.diff-highlight > code .token.token.inserted:not(.prefix)::selection,
.v-theme--fieldLight .code-zone pre.diff-highlight > code .token.token.inserted:not(.prefix) *::selection,
.v-theme--fieldLight .code-zone pre > code.diff-highlight .token.token.inserted:not(.prefix)::selection,
.v-theme--fieldLight .code-zone pre > code.diff-highlight .token.token.inserted:not(.prefix) *::selection {
    background-color: hsla(135, 73%, 55%, 0.25);
}

/* Previewers plugin overrides */
/* Based on https://github.com/atom-community/atom-ide-datatip/blob/master/styles/atom-ide-datatips.less and https://github.com/atom/atom/blob/master/packages/one-light-ui */
/* Border around popup */
.v-theme--fieldLight .code-zone .prism-previewer.prism-previewer:before,
.v-theme--fieldLight .code-zone .prism-previewer-gradient.prism-previewer-gradient div {
    border-color: hsl(0, 0%, 95%);
}

/* Angle and time should remain as circles and are hence not included */
.v-theme--fieldLight .code-zone .prism-previewer-color.prism-previewer-color:before,
.v-theme--fieldLight .code-zone .prism-previewer-gradient.prism-previewer-gradient div,
.v-theme--fieldLight .code-zone .prism-previewer-easing.prism-previewer-easing:before {
    border-radius: 0.3em;
}

/* Triangles pointing to the code */
.v-theme--fieldLight .code-zone .prism-previewer.prism-previewer:after {
    border-top-color: hsl(0, 0%, 95%);
}

.v-theme--fieldLight .code-zone .prism-previewer-flipped.prism-previewer-flipped.after {
    border-bottom-color: hsl(0, 0%, 95%);
}

/* Background colour within the popup */
.v-theme--fieldLight .code-zone .prism-previewer-angle.prism-previewer-angle:before,
.v-theme--fieldLight .code-zone .prism-previewer-time.prism-previewer-time:before,
.v-theme--fieldLight .code-zone .prism-previewer-easing.prism-previewer-easing {
    background: hsl(0, 0%, 100%);
}

/* For angle, this is the positive area (eg. 90deg will display one quadrant in this colour) */
/* For time, this is the alternate colour */
.v-theme--fieldLight .code-zone .prism-previewer-angle.prism-previewer-angle circle,
.v-theme--fieldLight .code-zone .prism-previewer-time.prism-previewer-time circle {
    stroke: hsl(230, 8%, 24%);
    stroke-opacity: 1;
}

/* Stroke colours of the handle, direction point, and vector itself */
.v-theme--fieldLight .code-zone .prism-previewer-easing.prism-previewer-easing circle,
.v-theme--fieldLight .code-zone .prism-previewer-easing.prism-previewer-easing path,
.v-theme--fieldLight .code-zone .prism-previewer-easing.prism-previewer-easing line {
    stroke: hsl(230, 8%, 24%);
}

/* Fill colour of the handle */
.v-theme--fieldLight .code-zone .prism-previewer-easing.prism-previewer-easing circle {
    fill: transparent;
}
